.left-menu{
	&__links{
		padding: 10px;
		border: 1px solid #8eaabd;
		display: block;
		border-bottom:none;
		&:last-child{
			border-bottom:1px solid #8eaabd;
		}
		&:hover{
			text-decoration: none;
			color: $white;
			background-color: $main-color;
		}
	}
} 
