.main-header	{
  background-color: $main-color;
  padding: 30px 0;
}

.bg-faded {
  background-color: transparent;
}

.dropdown-menu {
  background-color: transparent;
  border: 0;
}

.navbar-collapse {
  justify-content: flex-end;
}

.navbar-light .navbar-nav .nav-link {
  color: $white;
}
