.main-footer {
  background-color: $main-color;
  color: $white;
  &__menu{
  	padding:10px 0;
  	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  &__copyright{
  	padding:10px 0;
  	border-top: 1px solid rgba(255, 255, 255, 0.3);
  	font-size: 12px;
  	p {
  		margin: 0;
  	}
  }
  &__phone{
  	padding:10px 0;
    display: block;
    text-align: right;
  }
  &__links{
    padding:10px 0; 
    a{
    	color: $white;
    	text-decoration: none;
    	padding: 5px 10px 10px 0;
    	&:hover{
    		color:#b3ffff;
  	  }
    }
  }
}
@media(max-width:991px){
  .main-footer__phone{
  text-align:left; 
  }
}
.call-phone{
  display: none;
  @media(max-width:768px){
    display: block;
    background-color: $main-color;
    position: fixed;
    bottom:20px;
    right: 20px;
    border-radius:50%;
    width:65px;
    height: 65px;
    z-index: 150;
    cursor: pointer;
    padding:18px 20px;
    box-shadow: 0 2px 8px 3px rgba(0,0,0, 0.5);
    animation: phone 2s  4s infinite;
    &__icon{
      color:$white;
      font-size:16px;
    }
  }
}
@keyframes phone {
  to{
    box-shadow: 0 2px 8px 3px rgba(0,0,0, 0.5),
    0 0 50px 7px rgba(41, 157, 186, 0.9);
  }
}