.main-header {
  background-color: $main-color;
  padding: 10px 0;
}

.bg-faded {
  background-color: transparent;
}

.dropdown-menu {
  background-color: transparent;
  border: 0;
}

.navbar-collapse {
  justify-content: flex-end;
}

.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .active .nav-link  {
  color: $white;
  font-size:17px;
  &:hover{
  	color: #b3ffff;
  }
}
.nav-link{
	position: relative;
	margin: 15px;
}
.dropdown .dropdown-menu{
	background-color:rgba(2, 136, 209, 0.8);
	box-shadow: 0 0 4px 4px rgba(0, 0,0 , 0.6);
	.dropdown-item {
		color:$white;
	 }
}
.dropdown-item:focus, .dropdown-item:hover {
	background-color:rgba(2, 136, 209, 0.8);
}
