.main-header {
  background-color: $main-color;
}
.head-fix{
  position: fixed;
  width: 100%;
  z-index: 20;
  opacity: 1;
  box-shadow: 0 8px 12px 13px rgba(137, 137, 137, 0.6);
  animation-name: vis;
  animation-duration: 1s;
  @media(max-width:991px){
    position:relative;
    animation: none;
  }
}
.head-fix+.banner-main::before {
	content: "";
	display: block;
	min-height: 90px;
	@media(max-width:991px){
    display: none;
  }
}
@keyframes vis
{
	from{transform: translateY(-70px); opacity:0;}
}
.bg-faded {
  background-color: transparent;
}

.dropdown-menu {
  background-color: transparent;
  border: 0;
}

.navbar-collapse {
  justify-content: flex-end;
}
.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .active .nav-link  {
  color: $white;
  font-size:17px;
  &:hover{
  	color: #b3ffff;
  }
}
.navbar-nav .nav-item .nav-link{
	position: relative;
	margin: 15px;
  padding-right: 0;
  padding-left:0;
}
.dropdown .dropdown-menu{
	background-color:rgba(2, 136, 209, 0.95);
	box-shadow: 0 0 4px 4px rgba(0, 0,0 , 0.6);
	.dropdown-item {
		color:$white;
	 }
}
.dropdown-item:focus, .dropdown-item:hover {
	background-color:rgba(2, 136, 209, 0.95);
}
@media(max-width:768px){
  .navbar-brand{
    white-space: normal;
    &__text{
      font-size: 90%;
    }
  }
}
@media(max-width:991px){
  .dropdown .dropdown-menu{
    box-shadow:none;
    background-color: rgba(255,255,255, 0.3);
  }
  .navbar-nav .nav-item .nav-link{
    font-size: 100%;
  }
}
@media(max-width:1200px){
  .navbar-nav .nav-item .nav-link, .navbar-brand__text{
    font-size: 80% !important;
  }
}
