.map{
	position: relative;
	.map__contact{
		position: absolute;
		top:45px;
		right: 8%;
		background-color: rgba(0, 0, 0, 0.6);
		border:4px solid $main-color;
		color:$white;
		padding: 25px 15px;
		font-size: 100%;
		line-height: 150%;
		z-index: 1;
		a{
			color:$white;
		}
	}

}
@media(max-width:768px){
	.map .map__contact{
		position: relative;
		top:0;
		right:0;
		border:0;
		background-color: $main-color;
		font-size:13px;
  	border-top: 1px solid rgba(0, 0, 0, 0.2);
	}
	.map__text{
		max-width:540px;
		margin:0 auto;
		padding:0 15px;
	}
}
@media(max-width:577px){
	.map__text{
		padding:0;
	}
}
